- content_for :script do
  = javascript_include_tag 'codemirror_base' 
  = javascript_include_tag 'codemirror_editor' 
%div.container
  %div.jumbotron
    %h2 Short on Vim knowledge?
    %p
      Well, that sucks.
      Try
      %a{href: 'https://vim.rtorr.com/'} this
      Vim Cheat Sheet to improve your knowledge.
      %small.text-muted.pull-right (You really should..)
  = form_tag '/gists', method: :post do
    %div#gists
      %div.jumbotron{style: 'padding: 0;'}
        %textarea.hero-spacer.z-depth-2#gist-0{name: 'gist[]', autofocus: true}
        %div.form-group{style: 'margin: 10px; overflow: hidden;'}
          %label Language
          %select#select-0{name: 'lang[]'}
            - @languages.each do |l|
              - if l == 'php'
                %option{value: l, disabled: true}= "#{l.capitalize} (sucks)"
              - else
                %option{value: l}= l.capitalize
        %div.form-group{style: 'margin: 10px; overflow: hidden;'}
          %label Expire
          %div.slider.slider-material-orange#expire-0
        %input#test-value{readonly: true}
        %input#form-value{readonly: true, name: 'expire[]'}
    %button.btn.btn-fab.btn-danger.pull-right
      %i.material-icons cloud_done
    %div.btn.btn-fab.btn-default.hide#add_snipp{onclick: 'addSnippet("gists")', style: 'margin-top: 7px; margin-right: 5px;'}
      %i.material-icons add
:javascript
  this.editor($('#gist-0')[0]);
  createExpireSlider('expire-0');
  toastr.warning('Please note that the application might be able to set your whole desk on fire',
               'Highly Experimental',
               {timeOut: 30000})
  $('#add_snipp').removeClass('hide')

