%div.container
  - @gist['snippets'].each_with_index do |(k,v),i|
    %div.jumbotron{style: 'padding: 0;'}
      %textarea.hero-spacer.z-depth-2{id: "gist-#{i}"}
        = preserve do
          =v['paste']
      %span.label.label-danger.pull-left
        = v['lang'].capitalize
      %a.label.label-danger.pull-right{href: "/snippets/#{k}"}
        = k
    :javascript
      this.viewer($("#gist-#{i}")[0], "#{v['lang']}");
  %a.btn.btn-raised.btn-success.pull-right{href: '/gists/new'} New paste
