!!!
%html{lang: :en}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'Muh - In memory gists. - Paste as a service', name: :description}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: '#4caf50', name: 'theme-color'}
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :script
    = favicon_link_tag
  %body
    .content
      .navbar.navbar-success
        .container
          .navbar-header
            %button.navbar-toggle{data: {target: ".navbar-success-collapse", toggle: :collapse}, type: :button}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: '/'}
              = image_tag 'logo.png', height: 32, width: 32, style: 'float: left; margin-right: 10px;'
              muhPaste
          .navbar-collapse.collapse.navbar-success-collapse
            %ul.nav.navbar-nav
              %li{class: cp('/')}
                %a{href: '/'} Home
              %li{class: cp('/about')}
                %a{href: '/about'} About the Project
              %li
                %a{href: 'https://github.com/muhproductions'} GitHub
            %ul.nav.navbar-nav.navbar-right
              %li
                - if logged_in?
                  %a{href: '/logout'}= "Not #{session[:user_name]}? Logout"
                - else
                  %a{href: '/login'} Login

      - if flash[:success]
        :javascript
          toastr.success('#{flash[:success]}');
      - if flash[:created]
        :javascript
          toastr.success(
          '',
          '#{flash[:created]['title']}',
          {timeOut: 30000});
      = yield
